## PROJ - Template
## Template for creating a page for a product (given 4 letter ID and directory)

<h1>%%ID%%</h1>
<b>@@about.name@@</b>
<br>
@@about.description@@

@@oomloutBasics.address.line1@@
@@oomloutBasics.address.line2@@
@@oomloutBasics.address.city@@,@@oomloutBasics.address.postCode@@
@@oomloutBasics.address.country@@