## PROJ - Template
## Template for creating a page for a product (given 4 letter ID and directory)

@@%%ID%%,oompPart.oompID,name@@
<br>
!!0,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!0,oompTag.tagName,tagName!!@@
<br>
!!1,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!1,oompTag.tagName,tagName!!@@
<br>



^^0,100,%%U%%^^**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!**  %%U%%    !!%%U%%,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!@@<br>



!!0,oompTag.tagName,tagName!! 
<br>
!!1,oompTag.tagName,tagName!! 
<br>
!!989,oompTag.tagName,tagName!! 